// color

$main_color_black: #000000;

$main_color_wihte-grad: linear-gradient(
  90deg,
  rgba(255, 255, 255, 0.05),
  rgba(226, 226, 226, 0.02) 100%
);

// color_font

$font_color_black: #000000;
$font_color_gray: #575757;
$font_color_wihte: #ffffff;
$font_color_light-orange: #f3d7b3;

// media

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;
